@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  margin: 0;
  color: #c1d2e2;
  background-color: #121e2a;
}

.App {
  overflow: hidden;
}

p, h1 {
  margin: 0;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 60px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 200;
}

.App {
  width: 100%;
}

.coverPageBody {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #121e2a65;

  perspective: 1000px;
  transform-style: preserve-3d;
}

.nameContainer {
  /* position: relative; */
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 700px;
  animation: largeRotate 0.75s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0%;
}

.nameDiv {
  padding-left: 20px;
}

.mainHeader {
  color: #2ce28d;
}

.log {
  color: rgb(236, 236, 26);
}

.consoleLog {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  animation: subMovement 0.3s ease-in-out;
  animation-delay: 1.15s;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.nameDiv p {
  animation: subMovement 0.3s ease-in-out;
  animation-delay: 1.25s;
}

.mainHeader {
  animation: subMovement 0.3s ease-in-out;
  animation-delay: 1.35s;
}

.subHeader {
  animation: subMovement 0.3s ease-in-out;
  animation-delay: 1.45s;
}

@keyframes largeRotate {
  0% {
    transform: rotateX(90deg) translateZ(200px);
    opacity: 0%;
  }
  100% {
    transform: rotateX(0deg) translateZ(0px);
    opacity: 100%;
  }
}

@keyframes subMovement {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #162635; 
  border-radius: 10px;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2ce28d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2ce28dd2; 
}


@media only screen and (max-width: 1000px){ 
  .mainHeader {
    font-size: 45px;
  }
  .subHeader {
    font-size: 20px;
  }
  .nameContainer {
    max-width: 550px;
  }
}

@media only screen and (max-width: 800px){ 
  .mainHeader {
    font-size: 40px;
  }
  .subHeader {
    font-size: 18px;
  }
  .nameContainer {
    max-width: 500px;
  }
  .headerBody {
    height: 60px;
  }
}

@media only screen and (max-width: 600px){
  .nameContainer {
    padding: 0;
    max-width: 400px;
  } 
  .mainHeader {
    font-size: 30px;
  }
  .subHeader, .consoleLog {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}