.footerContainer {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}

.footerContainer P {
  font-style: italic;
  font-size: 12px;
  margin-left: 35px;
  color: #19a162;
}

.footerContainer img {
  height: 30px;
  width: auto;
  margin-left: 35px;
  cursor: pointer;
}