.headerRight, .headerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBackgroundDark {
  animation: backgroundToBlack 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
  box-shadow: 0 10px 30px -10px #0c141d;
}

@keyframes backgroundToBlack {
  0% {
    background-color: #14141400;
  }
  100% {
    background-color: #162635;
  }
}

.headerRight {
  gap: 40px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  color: #2ce28d;
}

.headerLogo {
  height: 40px;
  width: auto;
  padding-left: 20px;
  cursor: pointer;
}

.headerLinks {
  cursor: pointer;
}

.headerLinks:hover {
  color: #00ff88;
}

.dashWhite {
  color: rgb(255, 255, 255);
}

.headerCV {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #2ce28d;
  color: #2ce28d;
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
  font-weight: 100;
}

.headerCV:hover {
  background-color: #2ce28d27;
}

.headerRight, .headerLeft {
  perspective: 500px;
  transform-style: preserve-3d;
}

.headerLogo, .headerAbout, .headerProjects, .headerContact, .headerCV {
  transform-origin: 0 0 -20px;
  animation: smallRotate 0.25s ease-in-out forwards;
  opacity: 0%;
}


.headerAbout {
  animation-delay: 0.125s;
}

.headerProjects {
  animation-delay: 0.25s;
}

.headerContact {
  animation-delay: 0.375s;
}

.headerCV {
  animation-delay: 0.5s;
}

.fixedSideBar {
  position: fixed;
  display: inline;
  top: 70px;
  left: 54px;
  opacity: 0;
  animation: moveUp 0.5s cubic-bezier(.5,0,.1,1);
  animation-delay: 0.8s;
  animation-fill-mode: forwards; 
  height: calc(100vh - 70px);
  width: 20px;
  z-index: 2000;
}

.sideBarUpperLine {
  height: calc(100% - 370px);
  width: calc(50% - 1px);
  border-right: 1px solid #2ce28d62;
}

.sideBarLowerLine {
  height: 100px;
  width: calc(50% - 1px);
  border-right: 1px solid #2ce28d62;
}

.sideBarIconsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.sideBarIcon {
  height: 20px;
  width: auto;
  cursor: pointer;
  margin: 7.5px;
}

.sideBarEmail {

  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.sideBarEmail p {
  transform: rotateZ(-90deg);
  font-size: 10px;
  letter-spacing: 2px;
  font-style: italic;
  color: #19a162;
}

.sideBarLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerMenuContainer {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 3001;
}
.burgerMenuUpper, .burgerMenuLower, .burgerMenuMiddle {
  height: 3px;
  width: 40px;
  background-color: #2ce28d;
  border-radius: 3px;
}

.openedBurgerCrossUpper, .openedBurgerCrossMiddle, .openedBurgerCrossLower {
  background-color: rgb(255, 255, 255);
}

.openedBurgerCrossMiddle {
  animation: crossMiddleFade 0.3s ease-in-out forwards;
}
.closedBurgerCrossMiddle {
  animation: crossMiddleShow 0.3s ease-in-out forwards;
}
@keyframes crossMiddleFade {
  0% {
    transform: translateX(0px);
    opacity: 100%;
   }
  100% {
    transform: translateX(50px);
    opacity: 0%;
  }
}
@keyframes crossMiddleShow {
  0% {
    opacity: 0%;
    transform: translateX(50px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

.openedBurgerCrossUpper {
  animation: crossUpperClose 0.3s ease-in-out forwards;
  transform-origin: top right;
}
.closedBurgerCrossUpper {
  animation: crossUpperInitial 0.3s ease-in-out forwards;
  transform-origin: top right;
}
@keyframes crossUpperInitial {
  0% {
    transform: rotateZ(-33deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes crossUpperClose {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-33deg);
  }
}

.openedBurgerCrossLower {
  animation: crossLowerClose 0.3s ease-in-out forwards;
  transform-origin: bottom right;
}
.closedBurgerCrossLower {
  animation: crossLowerInitial 0.3s ease-in-out forwards;
  transform-origin: bottom right;
}
@keyframes crossLowerInitial {
  0% {
    transform: rotateZ(33deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes crossLowerClose {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(33deg);
  }
}

.burgerMenuContentClose {
  display: none;
}

.burgerMenuContentOpen, .burgerMenuContentClose {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: min(100vw, 450px);
  height: 100vh;
  background-color: #162635;
}
.burgerMenuContentOpen {
  animation: openMenuContent 0.3s ease-in-out forwards;
  opacity: 100%;
}
@keyframes openMenuContent {
  0% {
    transform: translateX(100%);
  }
  100% {
    box-shadow: 0 10px 30px -15px black;
    transform: translateX(0%);
  }
}

.burgerMenuContentClose {
  animation: closeMenuContent 0.3s ease-in-out forwards;
}
@keyframes closeMenuContent {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.burgerLinks {
  display: flex;
  color: #2ce28d;
  cursor: pointer;
}
.burgerMenuContent {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  z-index: 3000 !important;
  /* -webkit-transform:translate3d(0,0,0);
  -webkit-transform-style: preserve-3d */
}
.burgerButton {
  padding-left: 40px ;
  padding-right: 40px ;
  padding-top: 15px;
  padding-bottom: 15px;
}

.blurrContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px) opacity(0.9);
  z-index: 2001;
}

.hideBlurr {
  display: none;
}

.showBlurr {
  display: initial;
}

.burgerSocials{
  display: flex;
  gap: 50px;
}
.burgerSocials img {
  height: 20px;
  width: auto;
}

@keyframes smallRotate {
  0% {
    transform: rotateX(90deg);
    opacity: 0%;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 100%;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100vh);
    opacity: 100%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@media only screen and (min-width: 800px){ 
  .blurrContainer {
    display: none;
  }
}

@media only screen and (max-width: 1300px){ 
  .headerLogo {
    height: 30px;
    padding-left: 10px;
  }
  .fixedSideBar {
    left: 33px;
  }
}

@media only screen and (max-width: 900px){ 
  .fixedSideBar {
    display: none;
  }
}

@media only screen and (max-width: 800px){ 
  .burgerMenuContainer {
    display: flex;
  }
  .headerRight {
    display: none;
  }
  .burgerMenuContentOpen, .burgerMenuContentClose {
    display: flex !important;
  }
}